body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #001f3f;
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./assets/images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -1;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #001f3f;
}

.button {
  background: rgba(113, 204, 202, 0.8);
  box-shadow: 20px 20px 60px rgba(96, 173, 172, 0.8),
    -20px -20px 60px rgba(130, 235, 232, 0.8);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
